@font-face {
  font-family: "NotoSansSC-Heavy";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./NotoSansSC-Heavy-115.woff2") format("woff2");
  unicode-range: U+601D, U+89C9;
}

@font-face {
  font-family: "NotoSansSC-Heavy";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./NotoSansSC-Heavy-116.woff2") format("woff2");
  unicode-range: U+8003, U+8FBE;
}

@font-face {
  font-family: "NotoSansSC-Heavy";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./NotoSansSC-Heavy-117.woff2") format("woff2");
  unicode-range: U+8BA1, U+8BBE;
}

@font-face {
  font-family: "NotoSansSC-Heavy";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./NotoSansSC-Heavy-118.woff2") format("woff2");
  unicode-range: U+4EE4-4EE5, U+7528, U+8868, U+89C6;
}

@font-face {
  font-family: "NotoSansSC-Heavy";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./NotoSansSC-Heavy-119.woff2") format("woff2");
  unicode-range: U+3001-3002, U+FF0C;
}
